



<% if logged_in? %>

	<div class="home-container">
		<div class="post-form">
			<%= render "posts/form", post: @post %>
		</div>
		<%= render "shared/feed" %>
	</div>

<% else %>

	<p>Explanation of our project...</p>


<% end %>




