<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="main.scss">

<div id="main-header-box">
	<h1 id="main-header">Welcome to the antisocial network!</h1>
</div>




	<% if logged_in? %>
	<%= render "posts/form", post: @post %>
	<%= render "shared/feed" %>
<% end %>




