const dropdown = $("#notifications-dropdown");
if (dropdown.css("display") === "none") {
	<% if @notifications.count > 0 %>
		dropdown.html("<%=
			@notifications.map do |n|
				escape_javascript(render(n))
			end.join("").html_safe
		%>").css("display", "block");
	<% else %>
		dropdown.html("<li><p id='no-notifications'>You have no notifications!</p></li>").css("display", "block");
	<% end %>
} else {
	dropdown.css("display", "none");
}

$("#notification-count").html("0");

