<li class="post" id="post-<%= post.id %>">
	<h3>
		<%= link_to "– #{post.user.username}", post.user %>
	</h3>
	<p>
		<%= post.text_content %>
	</p>
	<span class="like-container">
		<%= render 'shared/likes', post: post %>
	</span>
</li>

