/*main css page this is for the title and the "tabs" at the top of the screen */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Kanit', sans-serif;
}

#navigation-header {
	float: left;
	margin: 4px 0;
	color: white;
}

#navigation {
	float: right;
	list-style: none;
	margin: 4px 0;

	li {
		display: inline-block;
		margin: 4px;

		a {
			color: white;
			padding: 2px;

			&:hover {
				background-color: black;
				padding: 2px;
			}
		}
	}
}

#notifications-dropdown {
	position: absolute;
	padding: 0;
	margin: 22px 0;
	margin-left: -108px;
	background-color: #eee;
	border: 1px solid #555;
	border-radius: 3px;
	width: 300px;
	display: none;

	li {
		display: block;
		border-bottom: 1px solid #555;
		margin: 4px 16px;

		&:last-child {
			border-bottom: none;
		}
	}

	#no-notifications {
		margin: 8px 0;
		text-align: center;
	}
}

.notification-footer {
	//float: right;
	font-size: 0.8em;
	color: #676767;
	margin: 4px 0;
}

#menu {
	background-color: #bf2621;
	padding: 15px;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}


#feed {
	list-style: none;
	margin: 0 auto;
	width: 450px;
	padding: 0;
}

.post {

	border: 1px solid #676767;
	border-radius: 4px;
	width: 450px;
	margin: 5px 0;
	padding: 6px;

	h3 {
		margin: 4px 0;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				background: none;
			}
		}
	}

	p {
		margin: 6px 0 4px;
	}
}



/* creating a new user */

#new-user {
	width: 200px;
	margin: 0 auto;

	input[type="text"], input[type="password"] {
		width: 100%;
	}

}

#new-user-heading {
	text-align: center;
}

/* user profile stuff */

#user-profile {
	width: 250px;
	border: 1px solid black;
	padding: 0 14px;
}

#user-bio {
	margin: 14px 0;
}

#user-bio-textarea {
	display: none;
	width: 100%;
	height: 75px;
	resize: none;
	margin-bottom: 14px;
}

#edit-bio-button, #update-bio-button, #cancel-bio-button {
	margin: 0 0 14px;
}

#update-bio-button, #cancel-bio-button {
	display: none;
}

p#unfollow-button {
	display: inline;
}

#unfollow-button {
	font-size: 14px;
	font-weight: normal;
}

/* end profile stuff */
